/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  background-color: transparent;
}

.mat-h2,
.mat-display-1,
.mat-display-2,
.mat-display-3,
.mat-display-4,
.mat-body-1,
.mat-headline,
.mat-title,
.mat-caption,
.mat-body {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
}

.spacer {
  flex: 1 1 auto;
}
