<main>
  <div class="main-wrapper">
    <section class="first">
      <mat-toolbar class="hero">
        <div class="contact">
          <a href="#"><div class="mat-headline">Contact</div></a>
        </div>
        <!-- <div class="spacer"></div> -->
        <div class="hero-text">
          <div class="mat-display-3">KEEP IN TOUCH WITH ME</div>
          <div class="mat-display-1">to felan and bisar baba!</div>
        </div>
        <!-- <div class="spacer"></div> -->
        <div class="scroll-indicator">
          <div class="sec-1 sec-active" id="sec-1"></div>
          <div class="sec-2" id="sec-2"></div>
          <div class="sec-3" id="sec-3"></div>
          <div class="sec-4" id="sec-4"></div>
        </div>
      </mat-toolbar>
    </section>
  </div>
</main>
